<button class="t-btn">Default</button>
<button class="t-btn t-btn-primary">Primary</button>
<button class="t-btn t-btn-primary t-btn-xs">+</button>
<button class="t-btn t-btn-primary t-btn-lg">Large Btn</button>
<button class="t-btn t-btn-urgency">Primary</button>
<button class="t-btn t-btn-urgency t-btn-xs">+</button>
<button class="t-btn t-btn-urgency t-btn-lg">Large Btn</button>
<button class="t-btn t-btn-regular">Regular</button>
